<%= form_with url: "/mountains/#{@mountain.id}", method: :patch, local: true do |form| %>
  <p><%= form.label :name %>
  <%= form.text_field :name, value: @mountain.name %></p>

  <p><%= form.label :elevation %>
  <%= form.text_field :elevation, value: @mountain.elevation %></p>

  <p><%= form.label :safe_winter_route %>
  <%= form.text_field :safe_winter_route, value: @mountain.safe_winter_route %></p>

  <p><%=form.submit "Update #{@mountain.name}"%></p>
<% end %>
