<ul>
  <li><a href="/mtn_ranges">Mountain Ranges</a></li>
  <li><a href="/mountains">Mountains</a></li>
  <li><a href="/parks">Parks</a></li>
  <li><a href="/hikes">Hikes</a></li>
</ul>

<h1>All Parks</h1>
<% if params[:sort] %>
  <% @parks.each do |park| %>
    <h3><%=park.name%>
      <span style = "font-size:16px; font-weight:normal;">  (Created at: <%=park.created_at%>)</span>
      <%=link_to "Edit #{park.name}", "/parks/#{park.id}/edit"%>
      <%=link_to "Delete #{park.name}", "/parks/#{park.id}", method: :delete%>
      Hike Count: <%= park.hike_count %>
    </h3>
  <% end %>

<% else %>
  <% @parks.most_recent_first.each do |park| %>
    <h3><%=park.name%>
      <span style = "font-size:16px; font-weight:normal;">  (Created at: <%=park.created_at%>)</span>
      <%=link_to "Edit #{park.name}", "/parks/#{park.id}/edit"%>
      <%=link_to "Delete #{park.name}", "/parks/#{park.id}", method: :delete%>
    </h3>
  <% end %>
<% end %>



<%= link_to 'New Park', '/parks/new'%>
<p><%= link_to 'Sort Parks by the number of hikes', "/parks?sort=true", method: :get%></p>
