<ul>
  <li><a href="/mtn_ranges">Mountain Ranges</a></li>
  <li><a href="/mountains">Mountains</a></li>
  <li><a href="/parks">Parks</a></li>
  <li><a href="/hikes">Hikes</a></li>
</ul>

<h1>Hikes in <%=@park.name%></h1>
<% @hikes.each do |hike| %>
  <h3><%= hike.name %> <%=link_to "Edit #{hike.name}", "/hikes/#{hike.id}/edit" %></h3>
  <p>Mileage: <%= hike.mileage %></p>
  <p>Elevation Gain: <%= hike.elevation_gain %></p>
  <p>Water on Route: <%= hike.water_on_route %></p>
<% end %>

<%= link_to "Create Hike for #{@park.name}", "/parks/#{@park.id}/hikes/new" %>


<p>
  <%= link_to "Sort Hikes Alphabetically", "/parks/#{@park.id}/hikes?sort=true", method: :get%>
</p>

<p>
<%= form_with url: "/parks/#{@park.id}/hikes", method: :get, local: true do |form| %>
  <%= form.number_field :num %>
  <%= form.submit 'Only return records with hike mileage greater than the given number' %>
<% end %>
</p>
