<ul>
  <li><a href="/mtn_ranges">Mountain Ranges</a></li>
  <li><a href="/mountains">Mountains</a></li>
  <li><a href="/hikes">Hikes</a></li>
  <li><a href="/parks">Parks</a></li>
</ul>

<h1>All Mountains in <%= @mtn_range.name %> Range</h1>
<% @mountains.each do |mountain| %>
  <h3><%=mountain.name%></h3>
  <p>Elevation: <%=mountain.elevation%></p>
  <p>Safe Winter Route? <%=mountain.safe_winter_route%></p>

<% end %>

<%= link_to "Create Mountain for #{@mtn_range.name}", "/mtn_ranges/#{@mtn_range.id}/mountains/new" %>

<p>
  <%= form_with url: "/mtn_ranges/#{@mtn_range.id}/mountains?", method: :get, local: true do |form| %>
    <%= form.number_field :num %>
    <%= form.submit 'Only return mountains with elevation greater than given number' %>
    <% end %>
</p>


