<%= form_with url: "/mtn_ranges/#{@mtn_range.id}", method: :patch, local: true do |form| %>
  <p><%= form.label :name %>
  <%= form.text_field :name %></p>
  <p><%= form.label :drivetime %>
  <%= form.text_field :drivetime %></p>
  <%= form.label :natl_park_land %>
  <%= form.text_field :natl_park_land %>
  <p><%=form.submit "Update Mountain Range"%></p>
 <% end %>