<ul>
  <li><a href="/mtn_ranges">Mountain Ranges</a></li>
  <li><a href="/mountains">Mountains</a></li>
  <li><a href="/hikes">Hikes</a></li>
  <li><a href="/parks">Parks</a></li>
  <li><a href="/mtn_ranges/<%=@mtn_range.id%>/mountains"> <%=@mtn_range.name%> Mountains</a></li>
</ul>

<h1><%= @mtn_range.name %></h1>
<p>Drivetime: <%= @mtn_range.drivetime%></p>
<p>Natl Park Land: <%= @mtn_range.natl_park_land %></p>
<p>Mountain Count: <%= @mtn_range.mountain_count %> </p>
